$color-font-light: #DBDEE2;
$color-font-purple: #9b59b6;
$color-font-green: #1abc9c;
$color-font-red: #e74c3c;

$color-font-link: #27ae60;

$color-back-dark: #000000;




$font-size-small: .9em;
$font-size-medium: 1em;
$font-size-large: 1.4em;
$font-size-x-large: 1.8em;
$font-size-xx-large: 3em;
